{
    "saveLocation": "C:/Users/ml/AppData/Local/FactoryGame/Saved/SaveGames/12345678/",
    "installLocation": "D:/Games/Steam/steamapps/common/Satisfactory/FactoryGame.exe",
    "sessionName": "Propaganda Factory"
}